# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Blink_without_Delay/
Debounce_switch_button_function/
DHT-sensor-library-master.zip
HC-SR04_test/
HelloWorld_i2c/
I2C_Scanner/
lcd_i2c_test/
libraries/DTH11/
libraries/LiquidCrystal_I2C/
libraries/MemoryFree-master/
libraries/PduEncoder/
libraries/readme.txt
Logger/
*.zip
logic_analyzer-master/
ols-0.9.7.1/
SecretVoltmeter/
sms_pdu/
SoftwareSerial_SMS/
switchCase/
sms/
